<script src="/Adap2/mainAdap2.js" type="module"></script>
<script src="/Adap1/mainAdap1.js" type="module"></script>
<div class="container">
    <div class="container">
        <h1>Clase Calculadora Original</h1>
        <h3>Inserte los digitos</h3>
        <input id="numero01" placeholder="ingrese un numero">
        <input id="numero02" placeholder="ingrese otro numero">

        <select id="opereacion" name="opereacion">
            <option value="add">Sumar</option>
            <option value="sub">Restar</option>
        </select>
        <button class="btn btn-success" id="calculador"> = </button>
        <form name="f" id="f">
            <input type="text" name="ft" id="ft">
        </form>
    </div>
    <div class="container">
        <h1>Clase CalculadoraAdapter</h1>
        <h3>Inserte los digitos</h3>
        <input id="numero1" placeholder="ingrese un numero">
        <input id="numero2" placeholder="ingrese otro numero">

        <select id="opereacion1" name="opereacion1">
            <option value="add">Sumar</option>
            <option value="sub">Restar</option>
            <option value="multi">Multiplicar</option>
            <option value="div">Dividir</option>
        </select>
        <button class="btn btn-success" id="calculador1"> = </button>
        <form name="f1" id="f1">
            <input type="text" name="f1t1" id="f1t1">
        </form>
    </div>
    <div class="container">
        <h1>Clase NuevaCalculadora</h1>
        <h3>Inserte los digitos</h3>
        <input id="numero3" placeholder="ingrese un numero">
        <input id="numero4" placeholder="ingrese otro numero">

        <select id="opereacion2" name="opereacion2">
            <option value="add">Sumar</option>
            <option value="sub">Restar</option>
            <option value="multi">Multiplicar</option>
            <option value="div">Dividir</option>
        </select>
        <button class="btn btn-success" id="calculador2"> = </button>
        <form name="f2" id="f2">
            <input type="text" name="f2t2" id="f2t2">
        </form>
    </div>
</div>