<script src="/Flyweight/FabricaDeAutos.js" type="module"></script>
<div class="container">
    <div class="container">
        <h1>Fabrica de autos</h1>
        <div class="row">
            <div class="col">
                <h3>Ingrese un auto</h3>

                <div class="container">
                    <input type="text" id="id" placeholder="Ingrese id">
                    <p></p>
                </div>
                <div class="container">

                    <input type="text" id="marca" placeholder="Ingrese marca">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="modelo" placeholder="Ingrese modelo">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="año" placeholder="Ingrese año">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="matricula" placeholder="Ingrese matricula">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="direccion" placeholder="Ingrese direccion">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="telefono" placeholder="Ingrese telefono">
                    <p></p>

                </div>
                <div class="container">
                    <button class="btn btn-success" id="boton1">Subir registro</button>
                </div>
            </div>
            <div class="col">

                <input id="buscarIm">
                <button id="buscar1" class="btn btn-warning">Buscar</button>

            </div>

            <div class="col">
                <h3>El auto es:</h3>

                <label>Objeto ligero</label>
                <div class="container">

                    <input type="text" id="marcaB">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="modeloB">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="añoB">
                    <p></p>

                </div>
                <label>Estado extrínseco</label>
                <div class="container">

                    <input type="text" id="matriculaB">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="direccionB">
                    <p></p>

                </div>
                <div class="container">

                    <input type="text" id="telefonoB">
                    <p></p>

                </div>

            </div>
        </div>
    </div>
</div>